.nav {
  background-color: rgb(114, 4, 4);
  border-right: 2px solid rgba(200, 200, 200, 0.1);
  position: fixed;
  color: white;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  z-index: 100;
  transform: translateX(0%);
  animation-name: sidebaropen;
  animation-duration: 0.4s;
}

.nav img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.nav ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.nav ul li {
  border-bottom: 2px solid rgba(200, 200, 200, 0.1);
  font-size: 20px;
}

.nav ul:first-of-type {
  border-top: 2px solid rgba(200, 200, 200, 0.1);
}

.nav ul li p:hover {
  text-decoration: underline;
  cursor: pointer;
}

@keyframes sidebaropen {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}
