.header {
  background-color: rgb(114, 4, 4);
  color: white;
  font-size: 130%;
  position: relative;
  padding: 40px 15px;
  text-align: center;
}

.header p {
  margin: 30px 0;
}

.signUpBtn {
  position: absolute;
  top: 80%;
  left: 45%;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  color: rgb(114, 4, 4);
  padding: 7px 20px;
  border: none;
  outline: none;
  border-radius: 4px;
}

.signUpBtn:active {
  transform: scale(0.98);
}

.toggle {
  background: transparent;
  color: white;
  border-radius: 4px;
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  outline: none;
  cursor: pointer;
}

.toggle:active {
  transform: scale(0.98);
}
